@charset "utf-8";

/* ========== header ========== */
.spNav_ul > li:first-child {
	border-bottom: 1px solid #000;
}

/* ========== main ========== */
.main {
	overflow: hidden;
	padding: 10px;
	font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.mainRight {
	display: none;
	width: 250px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}
.mainLi_ul {
	margin: auto;
	width: 300px;
	font-size: 0;
}
.mainLi_ul > li {
	width: 150px;
	display: inline-block;
}
.manga {
	display: block;
	margin: 10px 30px;
	width: 100px;
	height: 200px;
}
.kyoutengu0 {
	background-image: url(../comics/kyoutengu0/kyoutengu0.jpg);
}
.kyoutengu1 {
	background-image: url(../comics/kyoutengu1/kyoutengu1.jpg);
}
.kyoutengu2 {
	background-image: url(../comics/kyoutengu2/kyoutengu2.jpg);
}
.kyoutengu3 {
	background-image: url(../comics/kyoutengu3/kyoutengu3.jpg);
}
.kyoutengu4 {
	background-image: url(../comics/kyoutengu4/kyoutengu4.jpg);
}
.kyoutengu5 {
	background-image: url(../comics/kyoutengu5/kyoutengu5.jpg);
}
.kyoutenguLast {
	background-image: url(../comics/kyoutenguLast/kyoutenguLast.jpg);
}
.kimikimi {
	background-image: url(../comics/kimikimi/kimikimi.jpg);
}
.hinekuremon {
	background-image: url(../comics/hinekuremon/hinekuremon.jpg);
}
.mahounoresipi {
	background-image: url(../comics/mahounoresipi/mahounoresipi.jpg);
}
.mangainner {
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.mangainner:hover {
	background-color: #000;
	opacity: 0.5;
}
.mangaTitle {
	font-size: 18px;
}
/* レスポンシブの設定 */
@media all and (min-width: 768px) {
	.mainRight {
		display: block;
	}
	.mainLi_ul {
		width: 780px;
	}
}