@charset "utf-8";
html,
body {
  height: 100%;
}

/* ========== main ========== */
.main {
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
	height: 76%;
}
.mainRight {
	display: none;
	width: 250px;
	height: 100%;
	min-height: 450px;
	background-color: rgba(255, 255, 255, 0.5);
}
.side {
	padding: 45px 0 0 45px;
	width: 120px;
}
.side_ul {
}
.side_ul > li {
	margin-top: 20px;
	height: 26px;
	border-bottom: 1px solid #000;
	-webkit-box-sizing: border-box;
}
.side_ul > li:first-child {
	margin-top: 0;
	border-bottom: none;
}
.side_ul > li:hover {
	border-bottom: 1px solid #EB7A77;
}
.side_ul > li:first-child:hover {
	border-bottom: none;
}
.pickUp {
	display: none;
	position: absolute;
	bottom: 20%;
	right: 10%;
	background-color: #fff;
	font-size: 0;
}
.pickUp a {
	display: inline-block;
	font-size: 13px;
}
.pickUp_inner {
	position: relative;
}
.pickUpNew {
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 5px;
	color: #fff;
	background-color: #CB1B45;
}
.pickUpTxt {
	padding: 5px;
	text-align: center;
	color: #fff;
	background-color: #622d18;
	font-size: 16px;
}
.pickUp_thum {
	width: 200px;
	vertical-align: bottom;
}
.pickUp_thum:hover {
	opacity: 0.7;
}

/* レスポンシブの設定 */
@media all and (min-width: 768px) {
	.mainRight {
		display: block;
	}
}