extend /_includes/_specialLayout
append variables
  //- Required
  - var pageTitle= "東方天王禄 頂 特設サイト";
  - var pageDescription= "東方天王禄 頂の特設サイトです";
  - var pageKeywords= "東方Project, 東方, 比那名居天子, 比那名居地子, 二次オリ, 1.5次創作";
  //- Optional
  - var pageOgpTitle= "東方天王禄 頂 特設サイト";
  - var pageOgpImage= "/assets/img/comics/tenourokuChou/tenourokuChou.png"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="SPECIAL"

block content
    .loader
        .loadingBar
        .loadingTxt
    .wrapper
        .head
            .headContent.cf
                a(href="#" class="logo black")
                    img(src="/assets/img/special/logo_b.png", alt="kazenosougen")
                    p Comic Market 95 新刊特設サイト
                .event
                    a(href="http://twitter.com/share" class="twitter-share-button" data-hashtags="東方天王禄") Tweet
                    script.
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        .main
            .mainImg.chou
                h2 Comic Market 95 / 2日目 東4ホール "ル"42b
            .catchCopy 「天」の最果てに、<br>命の上に立つもの「有」り―。
            .copy 風の草原が送る「東方天王禄シリーズ」第三弾！<br>平成最後のコミケに送る、風の草原史上最大ボリュームの110ページ！(総集編除く)<br>比那名居天子が生まれるまでを、風の草原独自の世界観で描いた一冊です。今作「頂」は、「有」同様シリーズの外伝的なお話になります。「有」と「天」を繋ぐ物語になっていますが、単品でもお楽しみいただける内容となっていますので、是非お手元に置いてもらえると幸いです。
        .about.cf
            h2 ABOUT
            .aboutImg
                img(src="/assets/img/comics/tenourokuChou/tenourokuChou.png", alt="")
            dl.aboutTxt
                dt
                    h2 TITLE
                dd
                    p 東方天王禄 頂
                dt
                    h2 CIRCLE
                dd
                    p 風の草原
                dt
                    h2 RELESE DATA
                dd
                    p 2018年12月30日
                dt
                    h2 PRICE
                dd
                    p 110P / 1000円
                dt
                    h2 BOOTH
                dd
                    p Comic Market95 / 2日目 東4ホール "ル"42b
            h2 SAMPLE
            .sample
                a(href="/assets/img/comics/tenourokuChou/2.png" target="brank", rel="lightbox[chou-group]")
                    img(src="/assets/img/comics/tenourokuChou/2.png", alt="")
                a(href="/assets/img/comics/tenourokuChou/3.png" target="brank", rel="lightbox[chou-group]")
                    img(src="/assets/img/comics/tenourokuChou/3.png", alt="")
                a(href="/assets/img/comics/tenourokuChou/4.png" target="brank", rel="lightbox[chou-group]")
                    img(src="/assets/img/comics/tenourokuChou/4.png", alt="")
                a(href="/assets/img/comics/tenourokuChou/5.png" target="brank", rel="lightbox[chou-group]")
                    img(src="/assets/img/comics/tenourokuChou/5.png", alt="")
                a(href="/assets/img/comics/tenourokuChou/6.png" target="brank", rel="lightbox[chou-group]")
                    img(src="/assets/img/comics/tenourokuChou/6.png", alt="")
                a(href="/assets/img/comics/tenourokuChou/7.png" target="brank", rel="lightbox[chou-group]")
                    img(src="/assets/img/comics/tenourokuChou/7.png", alt="")
            //- h2 DISTRIBUTION
            //- .distribution
            //-     a(href="/assets/img/special/tenourokuChou/oshinagaki.png" ,target="brank", rel="lightbox[chou-Distr]")
            //-         img(src="/assets/img/special/tenourokuChou/oshinagaki.png", alt="")
        .linkButton
            h2 READ
            a(href="/comic/tenourokuChou/" class="button" target="brank") 本編を読む
            .note ※コチラはサンプルではなく、全ページでの公開になります。
        .store
            h2 STORE
            .note メロンブックスさん専売で予約受付中！
            a(href="https://www.melonbooks.co.jp/detail/detail.php?product_id=452816" border="0" target="brank")
                img(src="https://www.melonbooks.co.jp/user_data/bnr/banner_566x100.gif" alt="メロンブックス")
        .endtweet
            a(href="http://twitter.com/share" class="twitter-share-button" data-hashtags="東方天王禄") Tweet
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
