extend /_includes/_mangaLayout
append variables
  //- Required
  - var pageTitle= "ひねくれもん";
  - var pageDescription= "ある夏の日、避暑地である博麗神社へと向かう天子であったが、家主の霊夢は珍しく風邪でダウンしていた。霊夢に薬を届ける天子のおつかいが始まる。";
  - var pageKeywords= "東方Project, 東方, 博麗霊夢, 比那名居天子";
  //- Optional
  - var pageOgpTitle= "ひねくれもん";
  - var pageOgpImage= "/assets/img/comics/hinekuremon/1.jpg"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="MANGA"

block comic
    script(type="text/javascript").
        $(document).ready(function() {
            $(window).on('load resize', function(){
                $('#viewer').mangaviewer({
                    page: 38,	//ページ数
                    path: '/assets/img/comics/hinekuremon/',	//ディレクトリパス
                    ext: 'jpg',	//拡張子
                    page_ejection: 'right' //ページ送り
                });
            });
        });

block content
    #viewer