block variables
doctype html
html(lang=pageLang)
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + pageOgpType + ": http://ogp.me/ns/" + pageOgpType + "#")
    include /_includes/_meta

  body
    div(class=pageTop)
      .loader
        .sk-folding-cube
            .sk-cube1.sk-cube
            .sk-cube2.sk-cube
            .sk-cube4.sk-cube
            .sk-cube3.sk-cube
      include /_includes/_header

      block content

      include /_includes/_footer
      include /_includes/_script
