extend /_includes/_anotherLayout
append variables
  //- Required
  - var pageTitle= "シンフォギアライブ2018物販計算";
  - var pageDescription= "シンフォギアライブ2018の物販の計算をすることが出来ます。公式とは一切関係ありません。";
  - var pageKeywords= "戦姫絶唱シンフォギア, シンフォギア, シンフォギアライブ, シンフォギアライブ2018";
  //- Optional
  - var pageOgpTitle= "シンフォギアライブ2018物販計算";
  - var pageOgpImage= "http://kazenosougen.jp/assets/img/illust/gekisou.png"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var pageTop="another"

block content
  .wrapper
    h1 シンフォギアライブ2018物販計算
    .information
      p ・公式とは一切関係関係ありません。
      p ・ブラウザに送信をしていないので、リロードするとデータは初期化されます。
    .sns_button
      .twitter
        a(href="https://twitter.com/share" data-hashtags="シンフォギアライブ2018").twitter-share-button Tweet
        script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    .contents
      .contents_inner
        form(class="form-horizon" method="post")
          //- キャラクターTシャツ
          h3 キャラクターTシャツ
          div(class="contents_box character_t")
            .item_box
              .item_val
                p 各￥3,500 ×
                p.num 0個
              .all_check-character_t.all_check_button すべて１個ずつ選択する
              .form_box
                  .character_color.hibiki
                  p(class="buy_itemu_menu" data-price="3500" data-name="character_t") 響
                  p.kakeru ×
                  .select_inner
                    select(name="character_t_hibiki" class="check-character_t")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
              .form_box
                .character_color.tsubasa
                p(class="buy_itemu_menu" data-price="3500" data-name="character_t") 翼
                p.kakeru ×
                .select_inner
                  select(name="character_t_tsubasa" class="check-character_t")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.chris
                p(class="buy_itemu_menu" data-price="3500" data-name="character_t") クリス
                p.kakeru ×
                .select_inner
                  select(name="character_t_chris" class="check-character_t")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.maria
                p(class="buy_itemu_menu" data-price="3500" data-name="character_t") マリア
                p.kakeru ×
                .select_inner
                  select(name="character_t_maria" class="check-character_t")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.sirabe
                p(class="buy_itemu_menu" data-price="3500" data-name="character_t") 調
                p.kakeru ×
                .select_inner
                  select(name="character_t_sirabe" class="check-character_t")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.kirika
                p(class="buy_itemu_menu" data-price="3500" data-name="character_t") 切歌
                p.kakeru ×
                .select_inner
                  select(name="character_t_kirika" class="check-character_t")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.miku
                p(class="buy_itemu_menu" data-price="3500" data-name="character_t") 未来
                p.kakeru ×
                .select_inner
                  select(name="character_t_miku" class="check-character_t")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.pavaria
                p(class="buy_itemu_menu" data-price="3500" data-name="character_t") サンジェルマン
                p.kakeru ×
                .select_inner
                  select(name="character_t_san" class="check-character_t")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.pavaria
                p(class="buy_itemu_menu" data-price="3500" data-name="character_t") カリオストロ
                p.kakeru ×
                .select_inner
                  select(name="character_t_kari" class="check-character_t")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.pavaria
                p(class="buy_itemu_menu" data-price="3500" data-name="character_t") プレラーティ
                p.kakeru ×
                .select_inner
                  select(name="character_t_pure" class="check-character_t")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
            .item_total
              p.num ￥0

          //- ライブTシャツ
          h3 ライブTシャツ
          div(class="contents_box live_t")
            .item_box
              .item_val
                p 各￥3,000 ×
                p.num 0個
              .form_box
                  p(class="buy_itemu_menu" data-price="3000" data-name="live_t") Sサイズ
                  p.kakeru ×
                  .select_inner
                    select(name="live_t_S")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
              .form_box
                  p(class="buy_itemu_menu" data-price="3000" data-name="live_t") Mサイズ
                  p.kakeru ×
                  .select_inner
                    select(name="live_t_M")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
              .form_box
                  p(class="buy_itemu_menu" data-price="3000" data-name="live_t") Lサイズ
                  p.kakeru ×
                  .select_inner
                    select(name="live_t_L")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
              .form_box
                  p(class="buy_itemu_menu" data-price="3000" data-name="live_t") XLサイズ
                  p.kakeru ×
                  .select_inner
                    select(name="live_t_XL")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
            .item_total
              p.num ￥0

          //- ライブパーカー
          h3 ライブパーカー
          div(class="contents_box live_parker")
            .item_box
              .item_val
                p 各￥6,000 ×
                p.num 0個
              .form_box
                  p(class="buy_itemu_menu" data-price="6000" data-name="live_parker") Mサイズ
                  p.kakeru ×
                  .select_inner
                    select(name="live_parker_M")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
              .form_box
                  p(class="buy_itemu_menu" data-price="6000" data-name="live_parker") Lサイズ
                  p.kakeru ×
                  .select_inner
                    select(name="live_parker_L")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
            .item_total
              p.num ￥0

          //- マフラータオル
          h3 マフラータオル
          div(class="contents_box muffler_towel")
            .item_box
              .form_box
                  p(class="buy_itemu_menu" data-price="2000" data-name="muffler_towel") ￥2,000
                  p.kakeru ×
                  .select_inner
                    select(name="muffler_towel")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
            .item_total
              p.num ￥0

          //- トートバッグ
          h3 トートバッグ
          div(class="contents_box toto_bag")
            .item_box
              .form_box
                  p(class="buy_itemu_menu" data-price="2500" data-name="toto_bag") ￥2,500
                  p.kakeru ×
                  .select_inner
                    select(name="toto_bag")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
            .item_total
              p.num ￥0

          //- ハーフリストバンド
          h3 ハーフリストバンド
          div(class="contents_box half_band")
            .item_box
              .item_val
                p 各￥500 ×
                p.num 0個
              .all_check-half_band.all_check_button すべて１個ずつ選択する
              .form_box
                  .character_color.hibiki
                  p(class="buy_itemu_menu" data-price="500" data-name="half_band") オレンジ
                  p.kakeru ×
                  .select_inner
                    select(name="half_band_hibiki" class="check-half_band")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
              .form_box
                .character_color.tsubasa
                p(class="buy_itemu_menu" data-price="500" data-name="half_band") ブルー
                p.kakeru ×
                .select_inner
                  select(name="half_band_tsubasa" class="check-half_band")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.chris
                p(class="buy_itemu_menu" data-price="500" data-name="half_band") レッド
                p.kakeru ×
                .select_inner
                  select(name="half_band_chris" class="check-half_band")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.maria
                p(class="buy_itemu_menu" data-price="500" data-name="half_band") グレー
                p.kakeru ×
                .select_inner
                  select(name="half_band_maria" class="check-half_band")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.sirabe
                p(class="buy_itemu_menu" data-price="500" data-name="half_band") ピンク
                p.kakeru ×
                .select_inner
                  select(name="half_band_sirabe" class="check-half_band")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.kirika
                p(class="buy_itemu_menu" data-price="500" data-name="half_band") グリーン
                p.kakeru ×
                .select_inner
                  select(name="half_band_kirika" class="check-half_band")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.miku
                p(class="buy_itemu_menu" data-price="500" data-name="half_band") パープル
                p.kakeru ×
                .select_inner
                  select(name="half_band_miku" class="check-half_band")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.pavaria
                p(class="buy_itemu_menu" data-price="500" data-name="half_band") ゴールド
                p.kakeru ×
                .select_inner
                  select(name="half_band_gold" class="check-half_band")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
            .item_total
              p.num ￥0

          //- ラバーキーホルダー
          h3 ラバーキーホルダー
          div(class="contents_box rubber_key_holder")
            .item_box
              .item_val
                p 各￥700 ×
                p.num 0個
              .all_check-rubber_key_holder.all_check_button すべて１個ずつ選択する
              .form_box
                  .character_color.hibiki
                  p(class="buy_itemu_menu" data-price="700" data-name="rubber_key_holder") 響
                  p.kakeru ×
                  .select_inner
                    select(name="rubber_key_holder_hibiki" class="check-rubber_key_holder")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
              .form_box
                .character_color.tsubasa
                p(class="buy_itemu_menu" data-price="700" data-name="rubber_key_holder") 翼
                p.kakeru ×
                .select_inner
                  select(name="rubber_key_holder_tsubasa" class="check-rubber_key_holder")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.chris
                p(class="buy_itemu_menu" data-price="700" data-name="rubber_key_holder") クリス
                p.kakeru ×
                .select_inner
                  select(name="rubber_key_holder_chris" class="check-rubber_key_holder")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.maria
                p(class="buy_itemu_menu" data-price="700" data-name="rubber_key_holder") マリア
                p.kakeru ×
                .select_inner
                  select(name="rubber_key_holder_maria" class="check-rubber_key_holder")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.sirabe
                p(class="buy_itemu_menu" data-price="700" data-name="rubber_key_holder") 調
                p.kakeru ×
                .select_inner
                  select(name="rubber_key_holder_sirabe" class="check-rubber_key_holder")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.kirika
                p(class="buy_itemu_menu" data-price="700" data-name="rubber_key_holder") 切歌
                p.kakeru ×
                .select_inner
                  select(name="rubber_key_holder_kirika" class="check-rubber_key_holder")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.miku
                p(class="buy_itemu_menu" data-price="700" data-name="rubber_key_holder") 未来
                p.kakeru ×
                .select_inner
                  select(name="rubber_key_holder_miku" class="check-rubber_key_holder")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.pavaria
                p(class="buy_itemu_menu" data-price="700" data-name="rubber_key_holder") サンジェルマン
                p.kakeru ×
                .select_inner
                  select(name="rubber_key_holder_san" class="check-rubber_key_holder")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.pavaria
                p(class="buy_itemu_menu" data-price="700" data-name="rubber_key_holder") カリオストロ
                p.kakeru ×
                .select_inner
                  select(name="rubber_key_holder_kari" class="check-rubber_key_holder")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
              .form_box
                .character_color.pavaria
                p(class="buy_itemu_menu" data-price="700" data-name="rubber_key_holder") プレラーティ
                p.kakeru ×
                .select_inner
                  select(name="rubber_key_holder_pure" class="check-rubber_key_holder")
                    option(value="0個" data-num="0" selected) 0個
                    option(value="1個" data-num="1") 1個
                    option(value="2個" data-num="2") 2個
                    option(value="3個" data-num="3") 3個
                    option(value="4個" data-num="4") 4個
                    option(value="5個" data-num="5") 5個
                    option(value="6個" data-num="6") 6個
                    option(value="7個" data-num="7") 7個
                    option(value="8個" data-num="8") 8個
                    option(value="9個" data-num="9") 9個
                    option(value="10個" data-num="10") 10個
            .item_total
              p.num ￥0

          //- クリアファイルセット
          h3 クリアファイルセット
          div(class="contents_box clear_file")
            .item_box
              .form_box
                  p(class="buy_itemu_menu" data-price="1500" data-name="clear_file") ￥1,500
                  p.kakeru ×
                  .select_inner
                    select(name="clear_file")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
            .item_total
              p.num ￥0

          //- ペンライト
          h3 ペンライト
          div(class="contents_box pen_wright")
            .item_box
              .form_box
                  p(class="buy_itemu_menu" data-price="3500" data-name="pen_wright") ￥3,500
                  p.kakeru ×
                  .select_inner
                    select(name="pen_wright")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
            .item_total
              p.num ￥0

          //- ひなシンフォギあられ
          h3 ひなシンフォギあられ
          div(class="contents_box hinaarare")
            .item_box
              .form_box
                  p(class="buy_itemu_menu" data-price="700" data-name="hinaarare") ￥700
                  p.kakeru ×
                  .select_inner
                    select(name="hinaarare")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
            .item_total
              p.num ￥0

          //- PLAYBUTTON
          h3 PLAYBUTTON
          div(class="contents_box play_button")
            .item_box
              .form_box
                  p(class="buy_itemu_menu" data-price="3000" data-name="play_button") ￥3,000
                  p.kakeru ×
                  .select_inner
                    select(name="play_button")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
            .item_total
              p.num ￥0

          //- モバイルバッテリー
          h3 モバイルバッテリー
          div(class="contents_box mobile_battery")
            .item_box
              .form_box
                  p(class="buy_itemu_menu" data-price="6500" data-name="mobile_battery") ￥6,500
                  p.kakeru ×
                  .select_inner
                    select(name="mobile_battery")
                      option(value="0個" data-num="0" selected) 0個
                      option(value="1個" data-num="1") 1個
                      option(value="2個" data-num="2") 2個
                      option(value="3個" data-num="3") 3個
                      option(value="4個" data-num="4") 4個
                      option(value="5個" data-num="5") 5個
                      option(value="6個" data-num="6") 6個
                      option(value="7個" data-num="7") 7個
                      option(value="8個" data-num="8") 8個
                      option(value="9個" data-num="9") 9個
                      option(value="10個" data-num="10") 10個
            .item_total
              p.num ￥0

        .total
          .total_all_val
            p.intro ※商品は全て税込み価格です
            p 合計点数
            p.num 0個
          .total_all_price
            p 合計
            p.num 0円
    .list_button_inner
      .listButton.disable 選択したものをリストで表示する

  .wrapper_list.hide
    table.check_list

      //- キャラクターTシャツ
      tr.character_t.hide
        th キャラクターTシャツ
      tr.character_t.hide
        td.list
          .character_t_hibiki.hide
            .character_color.hibiki
            p 響
            p.kakeru ×
            p.num 0個
          .character_t_tsubasa.hide
            .character_color.tsubasa
            p 翼
            p.kakeru ×
            p.num 0個
          .character_t_chris.hide
            .character_color.chris
            p クリス
            p.kakeru ×
            p.num 0個
          .character_t_maria.hide
            .character_color.maria
            p マリア
            p.kakeru ×
            p.num 0個
          .character_t_sirabe.hide
            .character_color.sirabe
            p 調
            p.kakeru ×
            p.num 0個
          .character_t_kirika.hide
            .character_color.kirika
            p 切歌
            p.kakeru ×
            p.num 0個
          .character_t_miku.hide
            .character_color.miku
            p 未来
            p.kakeru ×
            p.num 0個
          .character_t_san.hide
            .character_color.pavaria
            p サンジェルマン
            p.kakeru ×
            p.num 0個
          .character_t_kari.hide
            .character_color.pavaria
            p カリオストロ
            p.kakeru ×
            p.num 0個
          .character_t_pure.hide
            .character_color.pavaria
            p プレラーティ
            p.kakeru ×
            p.num 0個
        td.total
          p.num ￥0

      //- ライブTシャツ
      tr.live_t.hide
        th ライブTシャツ
      tr.live_t.hide
        td.list
          .live_t_S.hide
            p Sサイズ
            p.kakeru ×
            p.num 0個
          .live_t_M.hide
            p Mサイズ
            p.kakeru ×
            p.num 0個
          .live_t_L.hide
            p Lサイズ
            p.kakeru ×
            p.num 0個
          .live_t_XL.hide
            p XLサイズ
            p.kakeru ×
            p.num 0個
        td.total
          p.num ￥0

      //- ライブパーカー
      tr.live_parker.hide
        th ライブパーカー
      tr.live_parker.hide
        td.list
          .live_parker_M.hide
            p Mサイズ
            p.kakeru ×
            p.num 0個
          .live_parker_L.hide
            p Lサイズ
            p.kakeru ×
            p.num 0個
        td.total
          p.num ￥0

      //- マフラータオル
      tr.muffler_towel.hide
        th マフラータオル
      tr.muffler_towel.hide
        td.list
          .muffler_towel.hide
            p.kakeru ×
            p.num 0個
        td.total
          p.num ￥0

      //- トートバッグ
      tr.toto_bag.hide
        th トートバッグ
      tr.toto_bag.hide
        td.list
          .toto_bag.hide
            p.kakeru ×
            p.num 0個
        td.total
          p.num ￥0

      //- ハーフリストバンド
      tr.half_band.hide
        th ハーフリストバンド
      tr.half_band.hide
        td.list
          .half_band_hibiki.hide
            .character_color.hibiki
            p オレンジ
            p.kakeru ×
            p.num 0個
          .half_band_tsubasa.hide
            .character_color.tsubasa
            p ブルー
            p.kakeru ×
            p.num 0個
          .half_band_chris.hide
            .character_color.chris
            p レッド
            p.kakeru ×
            p.num 0個
          .half_band_maria.hide
            .character_color.maria
            p グレー
            p.kakeru ×
            p.num 0個
          .half_band_sirabe.hide
            .character_color.sirabe
            p ピンク
            p.kakeru ×
            p.num 0個
          .half_band_kirika.hide
            .character_color.kirika
            p グリーン
            p.kakeru ×
            p.num 0個
          .half_band_miku.hide
            .character_color.miku
            p パープル
            p.kakeru ×
            p.num 0個
          .half_band_gold.hide
            .character_color.pavaria
            p ゴールド
            p.kakeru ×
            p.num 0個
        td.total
          p.num ￥0

      //- ラバーキーホルダー
      tr.rubber_key_holder.hide
        th ラバーキーホルダー
      tr.rubber_key_holder.hide
        td.list
          .rubber_key_holder_hibiki.hide
            .character_color.hibiki
            p 響
            p.kakeru ×
            p.num 0個
          .rubber_key_holder_tsubasa.hide
            .character_color.tsubasa
            p 翼
            p.kakeru ×
            p.num 0個
          .rubber_key_holder_chris.hide
            .character_color.chris
            p クリス
            p.kakeru ×
            p.num 0個
          .rubber_key_holder_maria.hide
            .character_color.maria
            p マリア
            p.kakeru ×
            p.num 0個
          .rubber_key_holder_sirabe.hide
            .character_color.sirabe
            p 調
            p.kakeru ×
            p.num 0個
          .rubber_key_holder_kirika.hide
            .character_color.kirika
            p 切歌
            p.kakeru ×
            p.num 0個
          .rubber_key_holder_miku.hide
            .character_color.miku
            p 未来
            p.kakeru ×
            p.num 0個
          .rubber_key_holder_san.hide
            .character_color.pavaria
            p サンジェルマン
            p.kakeru ×
            p.num 0個
          .rubber_key_holder_kari.hide
            .character_color.pavaria
            p カリオストロ
            p.kakeru ×
            p.num 0個
          .rubber_key_holder_pure.hide
            .character_color.pavaria
            p プレラーティ
            p.kakeru ×
            p.num 0個
        td.total
          p.num ￥0

      //- クリアファイルセット
      tr.clear_file.hide
        th クリアファイルセット
      tr.clear_file.hide
        td.list
          .clear_file.hide
            p.kakeru ×
            p.num 0個
        td.total
          p.num ￥0

      //- ペンライト
      tr.pen_wright.hide
        th ペンライト
      tr.pen_wright.hide
        td.list
          .pen_wright.hide
            p.kakeru ×
            p.num 0個
        td.total
          p.num ￥0

      //- ひなシンフォギあられ
      tr.hinaarare.hide
        th ひなシンフォギあられ
      tr.hinaarare.hide
        td.list
          .hinaarare.hide
            p.kakeru ×
            p.num 0個
        td.total
          p.num ￥0

      //- PLAYBUTTON
      tr.play_button.hide
        th PLAYBUTTON
      tr.play_button.hide
        td.list
          .play_button.hide
            p.kakeru ×
            p.num 0個
        td.total
          p.num ￥0

      //- モバイルバッテリー
      tr.mobile_battery.hide
        th モバイルバッテリー
      tr.mobile_battery.hide
        td.list
          .mobile_battery.hide
            p.kakeru ×
            p.num 0個
        td.total
          p.num ￥0

    //- 合計
    .total
      .total_all_price
        p 合計
        p.num 0円
    .list_button_inner
      .formButton 選択に戻る