extend /_includes/_mangaLayout
append variables
  //- Required
  - var pageTitle= "東方狂天狗 終～the End～";
  - var pageDescription= "";
  - var pageKeywords= "東方Project, 東方, 東方狂天狗, 狂天狗, 射命丸文, 博麗霊夢, 霧雨魔理沙, 魂魄妖夢, 東風谷早苗, 十六夜咲夜, 漫画, 同人誌";
  //- Optional
  - var pageOgpTitle= "東方狂天狗 終～the End～";
  - var pageOgpImage= "/assets/img/comics/kyoutenguLast/1.jpg"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="MANGA"

block comic
    script(type="text/javascript").
        $('#viewer').mangaviewer({
            page: 59,	//ページ数
            path: '/assets/img/comics/kyoutenguLast/',	//ディレクトリパス
            ext: 'jpg',	//拡張子
            page_ejection: 'right', //ページ送り
            next_page: '',   //次の話へのパス
            next_title: '', //次の話へボタンの名称
            prev_page: '../kyoutengu5/',   //前のページのパス
            prev_title: '前の話へ' //前の話へボタンの名称
        });
block content
    #viewer
