extend /_includes/_specialLayout
append variables
  //- Required
  - var pageTitle= "東方天王禄 天 -祈祷編- 特設サイト";
  - var pageDescription= "東方天王禄 天 -祈祷編-の特設サイトです";
  - var pageKeywords= "東方Project, 東方, 博麗霊夢, 比那名居天子";
  //- Optional
  - var pageOgpTitle= "東方天王禄 天 -祈祷編- 特設サイト";
  - var pageOgpImage= "/assets/img/comics/tenourokuTenKitou/tenourokuTenKitou.png"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="SPECIAL"

block content
    .wrapper
        .head
            .headContent.cf
                a(href="" class="logo")
                    img(src="/assets/img/special/logo.png", alt="kazenosougen")
                    p 博麗神社例大祭14 新刊特設サイト
                .event
                    a(href="http://twitter.com/share" class="twitter-share-button" data-hashtags="東方天王禄天祈祷編") Tweet
                    script.
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        .main
            .mainImg
                img(src="/assets/img/special/tenourokuTenKitou/tenourokuTenKitou.png", alt="東方天王禄 天 -祈祷編-")
                .catchCopy その「祈り」は。人の夢 … <br> ― その「祷り」は、天の果て
                .copy 風の草原が送る「東方天王禄シリーズ」第二弾。<br>一年ぶりとなるシリーズの新作！比那名居天子を主人公とし、独自の解釈と設定を元に紡がれる物語。メインシナリオとなる【天】における最初の物語「祈祷編」を、博麗神社例大祭14にて頒布！また、本編も全ページ公開！風の草原の新作を、ぜひお楽しみください!!
        .about.cf
            h2 ABOUT
            .aboutImg
                img(src="/assets/img/comics/tenourokuTenKitou/tenourokuTenKitou.png", alt="")
            dl.aboutTxt
                dt
                    h2 TITLE
                dd
                    p 東方天王禄 天 -祈祷編-
                dt
                    h2 CIRCLE
                dd
                    p 風の草原
                dt
                    h2 RELESE DATA
                dd
                    p 2017年5月17日
                dt
                    h2 PRICE
                dd
                    p 76P / 800円
                dt
                    h2 BOOTH
                dd
                    p 博麗神社例大祭14 東3ホール 【S06b】
            h2 SAMPLE
            .sample
                a(href="/assets/img/comics/tenourokuTenKitou/2.png" target="brank")
                    img(src="/assets/img/comics/tenourokuTenKitou/2.png", alt="")
                a(href="/assets/img/comics/tenourokuTenKitou/3.png" target="brank")
                    img(src="/assets/img/comics/tenourokuTenKitou/3.png", alt="")
                a(href="/assets/img/comics/tenourokuTenKitou/4.png" target="brank")
                    img(src="/assets/img/comics/tenourokuTenKitou/4.png", alt="")
                a(href="/assets/img/comics/tenourokuTenKitou/5.png" target="brank")
                    img(src="/assets/img/comics/tenourokuTenKitou/5.png", alt="")
                a(href="/assets/img/comics/tenourokuTenKitou/6.png" target="brank")
                    img(src="/assets/img/comics/tenourokuTenKitou/6.png", alt="")
                a(href="/assets/img/comics/tenourokuTenKitou/7.png" target="brank")
                    img(src="/assets/img/comics/tenourokuTenKitou/7.png", alt="")
            .store
                h2 STORE
                a(href="https://www.melonbooks.co.jp/detail/detail.php?product_id=218430" border="0" target="brank")
                    img(src="https://www.melonbooks.co.jp/user_data/bnr/banner_566x100.gif" alt="メロンブックス")
            .linkButton
                h2 READ
                a(href="/assets/comic/tenourokuTenKitou/" class="button" target="brank") 本編を読む
                .note ※コチラはサンプルではなく、全ページでの公開になります。
            .banner
                h2 BANNER
                img(src="/assets/img/special/tenourokuTenKitou/banner.png", alt="banner")
            .endtweet
                a(href="http://twitter.com/share" class="twitter-share-button" data-hashtags="東方天王禄天祈祷編") Tweet
                script.
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
