.COMIC {
    /* ========== header ========== */
    .spNav_ul > li:first-child {
        border-bottom: 1px solid #000;
    }
    .hide {
        display: none;
    }
    /* ========== main ========== */
    .main {
        box-sizing: border-box;
        font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    }
    .mainRight {
        display: none;
        width: 250px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .mainLi_ul {
        width: 100%;
        li {
            padding: 20px;
            width: 100%;
            border-bottom: 1px solid #ddd;
            box-sizing: border-box;
            &:last-child {
                border-bottom: 0;
            }
            &:nth-child(2n) {
                .mangaLi_inner {
                    flex-flow: row-reverse;
                }
                .textarea {
                    margin-right: 30px;
                    margin-left: 0;
                }
            }
        }
    }
    .mangaLi_inner {
        margin: auto;
        display: flex;
        width: 960px;
        height: 420px;
    }
    .mangainner {
        width: 300px;
        height: 420px;
        -webkit-background-size: cover;
            -o-background-size: cover;
                background-size: cover;
        background-position: center;
    }
    .textarea {
        position: relative;
        flex: 1;
        margin-right: 0;
        margin-left: 30px;
        padding: 30px 0;
    }
    .mangaTitle {
        position: relative;
        font-size: 20px;
        &::after {
            position: absolute;
            top: 2.5px;
            padding: 5px 10px;
            font-size: 10px;
            margin-left: 20px;
            border-radius: 5px;
        }
        &.one:after {
            content: "単発モノ";
            color: #fff;
            background-color: orange;
        }
        &.series:after {
            content: "シリーズモノ";
            color: #fff;
            background-color: pink;
        }
        &.short::after {
            content: "ショートコミック";
            color: #fff;
            background-color: blue;
        }
        &.finished::after {
            content: "完結済み";
            color: #fff;
            background-color: #cb1b45;
        }
    }
    .mangalink_inner {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .manga {
        display: block;
        width: 100%;
        margin-top: 30px;
        line-height: 40px;
        text-align: center;
        border-radius: 10px;
        background-color: #fff;
        transition: 0.3s;
        background-color: #cb1b45;
        color: #fff;
        &:hover {
            opacity: 0.8;
        }
        &.series {
            display: inline-block;
            padding: 5px 10px;
            width: auto;
            min-width: 30px;
            margin-right: 10px;
        }
    }
    .mangaText {
        margin-top: 40px;
        line-height: 2;
        max-height: 240px;
        overflow: hidden;
    }
    .selectGenre {
        position: relative;
        display: flex;
        width: 100%;
        height: 80vh;
        font-size: 14px;
    }
    .selectGenrebox {
        transition-duration: 0.3s;
        opacity: 1;
        width: 50%;
        overflow: scroll;
        #touhou, #symphogear {
            display: none;
        }
        &.selected {
            width: 100%;
            & > p {
                height: 40px;
                line-height: 40px;
                &::before {
                    content: "";
                }
            }
            #touhou, #symphogear {
                display: block;
            }
        }
        &.unSelected {
            width: 0;
            font-size: 0;
        }
    }
    .selectGenrebox:hover {
        opacity: 1;
    }
    .genreTitle {
        position: relative;
        height: 100%;
        cursor: pointer;
        p {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 140px;
            height: 21px;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
            z-index: 1;
        }
        .touhou, .symphogear {
            width: 100%;
            height: 80vh;
        }
    }
    .selected {
        .genreTitle {
            height: 40px;
        }
        .touhou, .symphogear {
            height: 40px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }
    .selectButton {
        display: none;
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 0 10px 0 30px;
        height: 40px;
        line-height: 40px;
        background-color: #ddd;
        cursor: pointer;
        opacity: 0.5;
        &::before {
            content: "";
            position: absolute;
            top: 12px;
            left: 15px;
            width: 5px;
            height: 10px;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
        }
        &::after {
            content: "";
            position: absolute;
            top: 16px;
            left: 7px;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 8px solid #000;
        }
        &:hover {
            opacity: 1;
        }
    }
    .touhou {
        background:url(/assets/img/illust/summerdance.png);
        background-size: cover;
        background-position: center;
    }
    .symphogear{
        background:url(/assets/img/illust/gekisou.png);
        background-size: cover;
        background-position: center;
    }
    /*東方*/
    .tenourokuU {
        background-image: url(/assets/img/comics/tenourokuU/tenourokuU.jpg);
    }
    .tenourokuTenKitou {
        background-image: url(/assets/img/comics/tenourokuTenKitou/tenourokuTenKitou.png);
    }
    .kyoutengu0 {
        background-image: url(/assets/img/comics/kyoutengu0/kyoutengu0.jpg);
    }
    .kyoutengu1 {
        background-image: url(/assets/img/comics/kyoutengu1/kyoutengu1.jpg);
    }
    .kyoutengu2 {
        background-image: url(/assets/img/comics/kyoutengu2/kyoutengu2.jpg);
    }
    .kyoutengu3 {
        background-image: url(/assets/img/comics/kyoutengu3/kyoutengu3.jpg);
    }
    .kyoutengu4 {
        background-image: url(/assets/img/comics/kyoutengu4/kyoutengu4.jpg);
    }
    .kyoutengu5 {
        background-image: url(/assets/img/comics/kyoutengu5/kyoutengu5.jpg);
    }
    .kyoutenguLast {
        background-image: url(/assets/img/comics/kyoutenguLast/kyoutenguLast.jpg);
    }
    .kimikimi {
        background-image: url(/assets/img/comics/kimikimi/kimikimi.jpg);
    }
    .hinekuremon {
        background-image: url(/assets/img/comics/hinekuremon/hinekuremon.jpg);
    }

    /*シンフォギア*/
    .rainyMood {
        background-image: url(/assets/img/comics/rainyMood/rainyMood.png);
    }
    .kusoManga001 {
        background-image: url(/assets/img/comics/kusoManga001/kusoManga001.jpg);
    }

    .mahounoresipi {
        background-image: url(/assets/img/comics/mahounoresipi/mahounoresipi.jpg);
    }
    /* レスポンシブの設定 */
    @media all and (max-width: 812px) {
        .mangaLi_inner {
            display: block;
            width: 100%;
            height: auto;
        }
        .mainLi_ul {
            li {
                min-width: 320px
            }
        }
        .mangainner {
            width: 100%;
            height: 160px;
        }
        .textarea {
            margin: 0;
            padding: 10px 0;
        }
        .mangalink_inner {
            position: static;
        }
        .manga {
            margin-top: 20px;
            font-weight: bold;
        }
        .mangaText {
            margin-top: 10px;
            font-size: 12px;
        }
        .selectButton {
            right: 0;
            bottom: 0;
        }
    }
    @media all and (max-width: 414px) {
        .selectGenre {
            display: block;
        }
        .selectGenrebox {
            width: 100%;
            height: 50%;
            &.selected {
                height: 100%;
            }
            &.unSelected {
                width: 100%;
                height: 0;
            }
        }
        .genreTitle {
            width: 100%;
            height: 100%;
            .touhou, .symphogear {
                height: 100%;
            }
        }
        .mangaTitle::after {
            margin-left: 5px;
        }
    }
}