.MANGA {
    position: fixed;
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
    background-color: #333;
    /* mangaviewer css */

    #viewer {
        position: relative;
        min-height: 450px;
        height: 100%;
        overflow: hidden;
    }
    .slider {
        position: relative;
        width: 100%;
        margin: auto;
    }
    .sheet {
        position: absolute;
        left: 0;
        right: 0;
        transition: all 0.4s;
        white-space: nowrap;
    }
    .sheet.left .image:nth-child(odd){
        text-align: right;
    }
    .sheet.right .image:nth-child(odd){
        text-align: left;
    }
    
    .image {
        display: inline-block;
        vertical-align: top;
        font-size: 0;
    }
    .sheet.right .image.close,
    .sheet.left .image.close {
        text-align: center;
    }
    .image img {
        width: 100%;
    }
    .image a {
        display: inline-block;
        padding: 0 25px;
        line-height: 40px;
        background-color: #d500f9;
        font-size: 15px;
        color: #fff;
        border-radius: 20px;
        cursor: pointer;
    }
    
    .btn-group {
        position: absolute;
        top: 0;
        width: 100%;
    }
    .btn {
        position: absolute;
        top: 0;
        width: 20%;
        height: 100vh;
        opacity: 0;
        transition: all 0.4s;
        cursor: pointer;
    }
    .btn:hover {
        opacity: 0.8;
    }
    .left_arrow::before,
    .right_arrow::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        background-color: #ddd;
    }
    .left_arrow::after,
    .right_arrow::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    .btn.next {
        left: 0;
    }
    .left_arrow::before {
        left: 30px;
    }
    .left_arrow::after {
        left: 45px;
        border-right: 15px solid #fff;
    }
    .btn.prev {
        right: 0;
    }
    .right_arrow::before {
        right: 30px;
    }
    .right_arrow::after {
        right: 45px;
        border-left: 15px solid #fff;
    }
    @media all and (max-width: 812px) {
        .btn {
            display: none;
        }
    }
}