extend /_includes/_mangaLayout
append variables
  //- Required
  - var pageTitle= "東方狂天狗 壱～Cold Amorous War～";
  - var pageDescription= "";
  - var pageKeywords= "東方Project, 東方, 東方狂天狗, 狂天狗, 射命丸文, アリス・マーガトロイド, パチュリー・ノーレッジ, チルノ, 大妖精, 漫画, 同人誌";
  //- Optional
  - var pageOgpTitle= "東方狂天狗 壱～Cold Amorous War～";
  - var pageOgpImage= "/assets/img/comics/kyoutengu1/1.jpg"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="MANGA"

block comic
    script(type="text/javascript").
        $('#viewer').mangaviewer({
            page: 33,	//ページ数
            path: '/assets/img/comics/kyoutengu1/',	//ディレクトリパス
            ext: 'jpg',	//拡張子
            page_ejection: 'right', //ページ送り
            next_page: '/comic/kyoutengu2',   //次の話へのパス
            next_title: '次の話へ', //次の話へボタンの名称
            prev_page: '/comic/kyoutengu0/',   //前のページのパス
            prev_title: '前の話へ' //前の話へボタンの名称
        });
block content
    #viewer
