extend /_includes/_mangaLayout
append variables
  //- Required
  - var pageTitle= "クソ漫画GX -つばクリポッキーゲーム編-";
  - var pageDescription= "つばクリがポッキーゲームをするよ！！！";
  - var pageKeywords= "戦姫絶唱シンフォギア, シンフォギア, 雪音クリス, 風鳴翼, ポッキーゲーム, ギャグ, つばクリ, 漫画";
  //- Optional
  - var pageOgpTitle= "クソ漫画GX -つばクリポッキーゲーム編-";
  - var pageOgpImage= "/assets/img/comics/kusoManga001/1.jpg"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="MANGA"

block comic
    script(type="text/javascript").
        $(document).ready(function() {
            $(window).on('load resize', function(){
                $('#viewer').mangaviewer({
                    page: 5,	//ページ数
                    path: '/assets/img/comics/kusoManga001/',	//ディレクトリパス
                    ext: 'jpg',	//拡張子
                    page_ejection: 'right' //ページ送り
                });
            });
        });

block content
    #viewer