extend /_includes/_mangaLayout
append variables
  //- Required
  - var pageTitle= "魔法のレシピ";
  - var pageDescription= "ティラミス作るよ！！！";
  - var pageKeywords= "東方Project, 東方, 霧雨魔理沙, ミスティア・ローレライ, ギャグ, ティラミス, 漫画";
  //- Optional
  - var pageOgpTitle= "クソ漫画GX -つばクリポッキーゲーム編-";
  - var pageOgpImage= "/assets/img/comics/mahounoresipi/1.jpg"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="MANGA"

block comic
    script(type="text/javascript").
        $(document).ready(function() {
            $(window).on('load resize', function(){
                $('#viewer').mangaviewer({
                    page: 13,	//ページ数
                    path: '/assets/img/comics/mahounoresipi/',	//ディレクトリパス
                    ext: 'jpg',	//拡張子
                    page_ejection: 'right' //ページ送り
                });
            });
        });

block content
    #viewer