extend /_includes/_mangaLayout
append variables
  //- Required
  - var pageTitle= "東方狂天狗 零 ~Prologue~";
  - var pageDescription= "";
  - var pageKeywords= "東方Project, 東方, 東方狂天狗, 狂天狗, 射命丸文, 博麗霊夢, 漫画, 同人誌";
  //- Optional
  - var pageOgpTitle= "東方狂天狗 零 ~Prologue~";
  - var pageOgpImage= "/assets/img/comics/kyoutengu0/1.jpg"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="MANGA"

block comic
    script(type="text/javascript").
        $(window).on('load resize', function(){
            $('#viewer').mangaviewer({
                page: 17,	//ページ数
                path: '/assets/img/comics/kyoutengu0/',	//ディレクトリパス
                ext: 'jpg',	//拡張子
                page_ejection: 'right' //ページ送り
            });
        });
block content
    #viewer
