extend /_includes/_mangaLayout
append variables
  //- Required
  - var pageTitle= "東方天王禄 天 -祈祷編-";
  - var pageDescription= "その「祈り」は、人の夢… その「祷り」は、天の果て。地上へと降ろされた天子は、霊夢の家に転がり込み、共に暮らすことになる。そんな日々が続いたある日、人里に異変が起こる…。遠く果てない因果の渦に飲まれていく物語。そのいのりは誰のために。";
  - var pageKeywords= "東方Project, 東方, 比那名居天子, 博麗霊夢, 東方天王禄, 天王禄, 霧雨魔理沙, アリス・マーガトロイド, 漫画, 同人誌";
  //- Optional
  - var pageOgpTitle= "東方天王禄 天 -祈祷編-";
  - var pageOgpImage= "/assets/img/comics/tenourokuTenKitou/1.png"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="MANGA"

block comic
    script(type="text/javascript").
        $(document).ready(function() {
            $(window).on('load resize', function(){
                $('#viewer').mangaviewer({
                    page: 72,	//ページ数
                    path: '/assets/img/comics/tenourokuTenKitou/',	//ディレクトリパス
                    ext: 'png',	//拡張子
                    page_ejection: 'right' //ページ送り
                });
            });
        });

block content
    #viewer
