extend /_includes/_mangaLayout
append variables
  //- Required
  - var pageTitle= "君に、君と";
  - var pageDescription= "「祭りに行くわよ！」騒々しく乗り込んでくる天子。今日は人妖問わず一堂に会する幻想郷一番のお祭りの日だ。霊夢と天子の夏祭りが始まる。";
  - var pageKeywords= "東方Project, 東方, 博麗霊夢, 比那名居天子, 漫画, 同人誌";
  //- Optional
  - var pageOgpTitle= "君に、君と";
  - var pageOgpImage= "/assets/img/comics/kimikimi/1.jpg"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="MANGA"

block comic
    script(type="text/javascript").
        $(document).ready(function() {
            $(window).on('load resize', function(){
                $('#viewer').mangaviewer({
                    page: 47,	//ページ数
                    path: '/assets/img/comics/kimikimi/',	//ディレクトリパス
                    ext: 'jpg',	//拡張子
                    page_ejection: 'right' //ページ送り
                });
            });
        });

block content
    #viewer