extend /_includes/_specialLayout
append variables
  //- Required
  - var pageTitleSpecial= "特設サイト｜道花 -cross road-";
  - var pageDescription= "風の草原の絶唱ステージ6新刊特設サイトです。";
  - var pageKeywords= "戦姫絶唱シンフォギア, シンフォギア, 立花響, 風鳴翼, 雪音クリス, マリア・カデンツァヴナ・イヴ, 暁切歌, 月読調, 小日向未来";
  //- Optional
  - var pageOgpTitle= "特設サイト｜道花 -cross road-";
  - var pageOgpImage= "/assets/img/comics/douka/douka.png"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="SPECIAL"

block comic
    script(type="text/javascript").
        $(function() {
            var h = $(window).height();

            $('.loader').height(h).css('display','block');
        });

        $(window).on('load', function () {
            $('.loader').delay(1500).fadeOut(800);
        });

        //10秒たったら強制的にロード画面を非表示
        $(function(){
            setTimeout('stopload()',10000);
        });

        function stopload(){
            $('.loader').delay(1500).fadeOut(800);
        }
        var progress = 0;
        var imgCount = $('img').length;
        $("img").each(function(){
            var src = $(this).attr('src');
            $("<img>").attr('src',src).on('load',function(){
                progress++;
            });
        });
        setInterval(function(){
            $(".loadingBar").css({
                'width': (progress / imgCount) * 100 + '%'
            });
        }, 1);

block content
    .loader
        .loadingBar
        img(src="/assets/img/special/douka/douka_sp.png", alt="道花")

    .wrapper.douka
        .head
            .headContent.cf
                a(href="" class="logo")
                    img(src="/assets/img/special/logo.png", alt="kazenosougen")
                    p 絶唱ステージ6 新刊特設サイト
                .event
                    a(href="http://twitter.com/share" class="twitter-share-button" data-hashtags="道花") Tweet
                    script.
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        .main
            .mainImg.douka
                .titleImg_inner
                    .titleImg
                        img(src="/assets/img/special/douka/douka_pc.png", alt="道花")
                    img(src="/assets/img/special/douka/douka_waku.png", alt="道花タイトル枠")
                h2 絶唱ステージ6 / 絶唱70
            .catchCopy それぞれの道。繋がる先。
            .copy 風の草原が送るシンフォギア二次創作第二弾。とある日の、それぞれの歩く「道」のお話。<br>３つの物語それぞれと、繋がる「道」をお楽しみ下さい。
        .about.cf
            h2 ABOUT
            .aboutImg
                img(src="/assets/img/comics/douka/douka.png", alt="道花")
            dl.aboutTxt
                dt
                    h2 TITLE
                dd
                    p 道花 -cross road-
                dt
                    h2 CIRCLE
                dd
                    p 風の草原
                dt
                    h2 RELESE DATA
                dd
                    p 2018年4月1日
                dt
                    h2 PRICE
                dd
                    p 60P / 700円
                dt
                    h2 BOOTH
                dd
                    p 絶唱70
            h2 SAMPLE
            .sample
                a(href="/assets/img/comics/douka/4.png", target="brank", rel="lightbox[daouka-group]")
                    img(src="/assets/img/comics/douka/4.png", alt="")
                a(href="/assets/img/comics/douka/5.png", target="brank", rel="lightbox[daouka-group]")
                    img(src="/assets/img/comics/douka/5.png", alt="")
                a(href="/assets/img/comics/douka/6.png", target="brank", rel="lightbox[daouka-group]")
                    img(src="/assets/img/comics/douka/6.png", alt="")
                a(href="/assets/img/comics/douka/7.png", target="brank", rel="lightbox[daouka-group]")
                    img(src="/assets/img/comics/douka/7.png", alt="")
                a(href="/assets/img/comics/douka/20.png", target="brank", rel="lightbox[daouka-group]")
                    img(src="/assets/img/comics/douka/20.png", alt="")
                a(href="/assets/img/comics/douka/21.png", target="brank", rel="lightbox[daouka-group]")
                    img(src="/assets/img/comics/douka/21.png", alt="")
                a(href="/assets/img/comics/douka/22.png", target="brank", rel="lightbox[daouka-group]")
                    img(src="/assets/img/comics/douka/22.png", alt="")
                a(href="/assets/img/comics/douka/23.png", target="brank", rel="lightbox[daouka-group]")
                    img(src="/assets/img/comics/douka/23.png", alt="")
                a(href="/assets/img/comics/douka/36.png", target="brank", rel="lightbox[daouka-group]")
                    img(src="/assets/img/comics/douka/36.png", alt="")
                a(href="/assets/img/comics/douka/37.png", target="brank", rel="lightbox[daouka-group]")
                    img(src="/assets/img/comics/douka/37.png", alt="")
                a(href="/assets/img/comics/douka/38.png", target="brank", rel="lightbox[daouka-group]")
                    img(src="/assets/img/comics/douka/38.png", alt="")
                a(href="/assets/img/comics/douka/39.png", target="brank", rel="lightbox[daouka-group]")
                    img(src="/assets/img/comics/douka/39.png", alt="")
            .store
                h2 STORE
                a(href="https://www.melonbooks.co.jp/detail/detail.php?product_id=353047" border="0" target="brank")
                    img(src="https://www.melonbooks.co.jp/user_data/bnr/banner_566x100.gif" alt="メロンブックス")
            .endtweet
                a(href="http://twitter.com/share" class="twitter-share-button" data-hashtags="道花") Tweet
                script.
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
