extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "COMIC";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= "COMIC";
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="COMIC"

block content
    .main
        .selectGenre
            #js_touhou.selectGenrebox
                .genreTitle
                    p 東方Project
                    .touhou
                #touhou
                    nav: ul.mainLi_ul
                        li
                            .mangaLi_inner
                                .mangainner.tenourokuTenKitou
                                .textarea
                                    p.mangaTitle.series 東方天王禄シリーズ
                                    p.mangaText これは、『比那名居天子』の物語―…。<br>天子を中心としたシリーズ漫画です。「天」を除き、それぞれが独立したお話としても成立しています。時系列はバラバラですので、お好きなところからお読みください。
                                    .mangalink_inner
                                        a(href="" onclick="window.open('./tenourokuU/','popup','width=980,height=750');return false;").manga.series 有
                                        a(href="" onclick="window.open('./tenourokuTenKitou/','popup','width=980,height=750');return false;").manga.series 天 -祈祷編-
                                        a(href="" onclick="window.open('./tenourokuChou/','popup','width=980,height=750');return false;").manga.series 頂
                        li
                            .mangaLi_inner
                                .mangainner.hinekuremon
                                .textarea
                                    p.mangaTitle.one ひねくれもん
                                    p.mangaText 夏の霊天本の第二弾。<br>珍しく風邪を引いた霊夢の元に、これまた珍客来襲。霊夢の為に奔走する天子だったが…。<br>素直に事を起こせないひねくれ者たちの物語。
                                    .mangalink_inner
                                        a(href="javascript:;" onclick="window.open('./hinekuremon/','popup','width=980,height=750');return false;").manga この作品を読む
                        li
                            .mangaLi_inner
                                .mangainner.kimikimi
                                .textarea
                                    p.mangaTitle.one 君に、君と
                                    p.mangaText 夏の霊天本の第一弾。<br>夏祭りへと遊びに行く霊夢と天子のお話。<br>実は元々天王禄シリーズの箸休め回的に用意していたお話でしたが、シリーズがあまりにも長くなりそうだったので単独化させた背景があります。
                                    .mangalink_inner
                                        a(href="javascript:;" onclick="window.open('./kimikimi/','popup','width=980,height=750');return false;").manga この作品を読む
                        li
                            .mangaLi_inner
                                .mangainner.kyoutengu0
                                .textarea
                                    p.mangaTitle.finished 東方狂天狗シリーズ
                                    p.mangaText 狂った天狗が巻き起こすのは、複数の「異変」。<br>幻想郷全土を舞台に、苛烈極まる戦いを描いたシリーズ。<br>サークル「風の草原」初の同人作品郡です。
                                    .mangalink_inner
                                        a(href="javascript:;" onclick="window.open('./kyoutengu0/','popup','width=980,height=750');return false;").manga.series 零
                                        a(href="javascript:;" onclick="window.open('./kyoutengu1/','popup','width=980,height=750');return false;").manga.series 壱
                                        a(href="javascript:;" onclick="window.open('./kyoutengu2/','popup','width=980,height=750');return false;").manga.series 弐
                                        a(href="javascript:;" onclick="window.open('./kyoutengu3/','popup','width=980,height=750');return false;").manga.series 参
                                        a(href="javascript:;" onclick="window.open('./kyoutengu4/','popup','width=980,height=750');return false;").manga.series 肆
                                        a(href="javascript:;" onclick="window.open('./kyoutengu5/','popup','width=980,height=750');return false;").manga.series 伍
                                        a(href="javascript:;" onclick="window.open('./kyoutenguLast/','popup','width=980,height=750');return false;").manga.series 終
                        li
                            .mangaLi_inner
                                .mangainner.mahounoresipi
                                .textarea
                                    p.mangaTitle.short 魔法のレシピ
                                    p.mangaText 過去に頒布したコピ本です。ティラミスが作れます。
                                    .mangalink_inner
                                        a(href="javascript:;" onclick="window.open('./mahounoresipi/','popup','width=980,height=750');return false;").manga この作品を読む

            #js_symphogear.selectGenrebox
                .genreTitle
                    p 戦姫絶唱シンフォギア
                    .symphogear
                #symphogear
                    nav: ul.mainLi_ul
                        li
                            .mangaLi_inner
                                .mangainner.rainyMood
                                .textarea
                                    p.mangaTitle.one RAINY MOOD
                                    p.mangaText 雨の日―。<br>それは、すこしだけズレた日常。<br>雪音クリスと、雨の日のお話。
                                    .mangalink_inner
                                        a(href="javascript:;" onclick="window.open('./rainyMood/','popup','width=980,height=750');return false;").manga この作品を読む
                        li
                            .mangaLi_inner
                                .mangainner.kusoManga001
                                .textarea
                                    p.mangaTitle.short クソ漫画シリーズ
                                    p.mangaText ツイッターとかにあげてるクソみたいなギャグ本です。
                                    .mangalink_inner
                                        a(href="javascript:;" onclick="window.open('./kusoManga001/','popup','width=980,height=750');return false;").manga.series つばクリポッキーゲーム編
            #return_select.selectButton return
        #js_backToTop
            a(href="#").back_to_top: .arrow
