extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "ILLUST";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= "ILLUST";
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var pageTop="ILLUST"

block content
    .main.animsition
    .content.hide
        span.items.fade
            a(href="/assets/img/illust/gekkanoinori.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/gekkanoinori.png")
            p 月下の祈り
        span.items.fade
            a(href="/assets/img/illust/tenshinohashigo.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/tenshinohashigo.png")
            p 天使ノ梯子
        span.items.fade
            a(href="/assets/img/illust/zettou.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/zettou.png")
            p 絶刀ッ
        span.items.fade
            a(href="/assets/img/illust/gekisou.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/gekisou.png")
            p 撃槍ッ
        span.items.fade
            a(href="/assets/img/illust/takanare.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/takanare.png")
            p 高鳴れッ！
        span.items.fade
            a(href="/assets/img/illust/summerdance.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/summerdance.png")
            p Summer Dance
        span.items.fade
            a(href="/assets/img/illust/suijinsyourai.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/suijinsyourai.png")
            p 水神招来
        span.items.fade
            a(href="/assets/img/illust/soukatettui.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/soukatettui.png")
            p 槍火徹追
        span.items.fade
            a(href="/assets/img/illust/ikotenyoku.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/ikotenyoku.png")
            p 為虎添翼
        span.items.fade
            a(href="/assets/img/illust/winterdance.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/winterdance.png")
            p Winter Dance
        span.items.fade
            a(href="/assets/img/illust/hajime.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/hajime.png")
            p ハジメ
        span.items.fade
            a(href="/assets/img/illust/mugen.jpg", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/mugen.jpg")
            p 夢幻
        span.items.fade
            a(href="/assets/img/illust/sigensousou.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/sigensousou.png")
            p 四幻双想
        span.items.fade
            a(href="/assets/img/illust/saigetsu.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/saigetsu.png")
            p 砕月
        span.items.fade
            a(href="/assets/img/illust/konpeki.jpg", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/konpeki.jpg")
            p 紺碧
        span.items.fade
            a(href="/assets/img/illust/nemurihime.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/nemurihime.png")
            p 眠り姫
        span.items.fade
            a(href="/assets/img/illust/masterpice.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/masterpice.png")
            p M@STER PICE
        span.items.fade
            a(href="/assets/img/illust/vampaiagirl.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/vampaiagirl.png")
            p ヴァンパイアガール
        span.items.fade
            a(href="/assets/img/illust/sleepingbeauty.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/sleepingbeauty.png")
            p 眠り姫 THE SLEEPING BE@UTY
        span.items.fade
            a(href="/assets/img/illust/kureepukaidou.png", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/kureepukaidou.png")
            p クレープ街道
        span.items.fade
            a(href="/assets/img/illust/iris.jpg", rel="lightbox[illust-group]").nailthumb-container.square-thumb
                img(src="/assets/img/illust/iris.jpg")
            p Iris

    #js_backToTop
        a(href="#").back_to_top: .arrow
block comic
  script(src="/assets/js/lightbox-plus-jquery.min.js")