extend /_includes/_mangaLayout
append variables
  //- Required
  - var pageTitle= "東方天王禄 頂";
  - var pageDescription= "「天」の最果てに、命の上に立つ者「有」り―。これは遠い過去の話。天子の父、比那名居源禄。母、名居夜々。二人の永き愛と戦いの始まりの物語―…。";
  - var pageKeywords= "東方Project, 東方, 比那名居天子, 東方天王禄, 天王禄, 漫画, 同人誌";
  //- Optional
  - var pageOgpTitle= "東方天王禄 頂";
  - var pageOgpImage= "/assets/img/comics/tenourokuChou/1.jpg"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="MANGA"

block comic
    script(type="text/javascript").
        $('#viewer').mangaviewer({
            page: 23,	//ページ数
            path: '/assets/img/comics/tenourokuChou/',	//ディレクトリパス
            ext: 'jpg',	//拡張子
            page_ejection: 'right', //ページ送り
            next_page: '/comic/tenourokuChou/',   //次の話へのパス
            next_title: '東方天王禄 天 -祈祷編-', //次の話へボタンの名称
            prev_page: '/comic/tenourokuU/',   //前のページのパス
            prev_title: '東方天王禄 有' //前の話へボタンの名称
        });
block content
    #viewer
