extend /_includes/_mangaLayout
append variables
  //- Required
  - var pageTitle= "東方天王禄 有";
  - var pageDescription= "これは、「天」に至る物語─…。遠い過去、まだ比那名居天子が、比那名居地子と名乗っていた時代。父との小さな衝突の末、地上へと家出した彼女は、一体の妖怪と出会う。妖怪に名はなく、地子は彼女を「永江衣玖」と名付けた…。地子が、天子へと成るその時を綴った物語。";
  - var pageKeywords= "東方Project, 東方, 比那名居天子, 比那名居地子, 永江衣玖, 漫画, 同人誌";
  //- Optional
  - var pageOgpTitle= "東方天王禄 有";
  - var pageOgpImage= "/assets/img/comics/tenourokuU/1.jpg"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="MANGA"

block comic
    script(type="text/javascript").
        $('#viewer').mangaviewer({
            page: 72,	//ページ数
            path: '/assets/img/comics/tenourokuU/',	//ディレクトリパス
            ext: 'jpg',	//拡張子
            page_ejection: 'right', //ページ送り
            next_page: '/comic/tenourokuTenKitou/',   //次の話へのパス
            next_title: '東方天王禄 天 -祈祷編-へ', //次の話へボタンの名称
            prev_page: '',   //前のページのパス
            prev_title: '' //前の話へボタンの名称
        });
block content
    #viewer
