extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "TOP";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= "TOP";
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="TOP"


block content
  // contents
  .main.bgsw
    // pickUp
    //- .pickUp
    //-   .pickUpTxt PICKUP!
    //-   a(href="/special/douka/" target="brank")
    //-     .pickUp_inner
    //-       img(src="assets/img/comics/douka/douka.png" alt="道花 -cross road-").pickUp_thum
    //-       p.pickUpNew 特設サイト公開！