extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "TOP";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= "TOP";
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="TOP"

block content
  // contents
  .main.bgsw
    // pickUp
    .pickUp
      .pickUpTxt PICKUP!
      a(href="/comic/rainyMood/" target="brank")
        .pickUp_inner
          img(src="assets/img/comics/rainyMood/rainyMood.png" alt="RAINY MOOD").pickUp_thum
          p.pickUpNew 公開開始!!