extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "TOP";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= "TOP";
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="TOP"

block comic
    script(type="text/javascript").
        $(function() {
            var h = $('.main').height();

            $('.loader').height(h).css('display','block');
        });

        $(window).on('load', function () {
            $('.loader').delay(1500).fadeOut(800);
            $('.content').delay(1500).fadeIn(800);
        });

        //10秒たったら強制的にロード画面を非表示
        $(function(){
            setTimeout('stopload()',10000);
        });

        function stopload(){
            $('.loader').delay(1500).fadeOut(800);
            $('.content').delay(1500).fadeIn(800);
        }
        var progress = 0;
        var imgCount = $('img').length;
        $("img").each(function(){
            var src = $(this).attr('src');
            $("<img>").attr('src',src).on('load',function(){
                progress++;
            });
        });
        setInterval(function(){
            $(".loadingBar").css({
                'width': (progress / imgCount) * 100 + '%'
            });
        }, 1);

block content
  .loader
      .sk-folding-cube
          .sk-cube1.sk-cube
          .sk-cube2.sk-cube
          .sk-cube4.sk-cube
          .sk-cube3.sk-cube
  // contents
  .main.bgsw
    // pickUp
    .pickUp
      .pickUpTxt PICKUP!
      a(href="/special/douka/" target="brank")
        .pickUp_inner
          img(src="assets/img/comics/douka/douka.png" alt="道花 -cross road-").pickUp_thum
          p.pickUpNew 特設サイト公開！