extend /_includes/_mangaLayout
append variables
  //- Required
  - var pageTitle= "RAINY MOOD";
  - var pageDescription= "雨の日、それは少しだけズレた日常。雪音クリスと雨の日のお話。";
  - var pageKeywords= "戦姫絶唱シンフォギア, シンフォギア, 雪音クリス, 立花響, 小日向未来, 風鳴翼, 暁切歌, 月読調, 雨, 漫画, 同人誌";
  //- Optional
  - var pageOgpTitle= "RAINY MOOD";
  - var pageOgpImage= "/assets/img/comics/rainyMood/1.png"
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  - var nowPage= "pageTop";
  - var pageTop="MANGA"

block comic
    script(type="text/javascript").
        $(document).ready(function() {
            $(window).on('load resize', function(){
                $('#viewer').mangaviewer({
                    page: 38,	//ページ数
                    path: '/assets/img/comics/rainyMood/',	//ディレクトリパス
                    ext: 'png',	//拡張子
                    page_ejection: 'right' //ページ送り
                });
            });
        });

block content
    #viewer